*~
*.class
JSHOP2/bin.build/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/app/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/cloudbalancing/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/curriculumcourse/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/dinnerparty/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/examination/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/machinereassignment/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/nqueens/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/nurserostering/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/pas/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/projectjobscheduling/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/tennis/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/travelingtournament/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/classes/org/optaplanner/examples/tsp/
optaplanner-distribution-6.1.0.Arcas/examples/sources/target/test-classes/org/
cpp-projects/polygon_division/basura/
*-Release
cpp-projects/arcas_exec_layer/ArcasExecLayerClient.o
