/*
Original design: Variant Stream (v1.0 - Sep 15, 2012) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/variant-stream/
*/

/* Main containers */
body {padding:0; margin:0; font:92% Georgia,Times New Roman,serif; background:#eee url(../images/background.jpg) top left repeat-x; color:#222; text-align:center; line-height:1.5em;}
#wrap {width:980px; text-align:left; margin:0 auto;}

/* Header */
#header {height:200px; margin:0 0 20px 0;}
#title {padding:10px 0 10px 140px; background:transparent url(../images/logo_grvc.png) top left no-repeat;}
h1 {margin:0 auto 5px auto; padding:0; font-size:2em; font-weight:400;color:#eee; letter-spacing:-1px; line-height:1.2em;}
h1 a {color:#eee; font-weight:400; text-decoration:none;}
h1 a:hover {color:#fff; text-decoration:none;}
.slogan {color:#eee; font-size:1.4em; margin:0 0 15px 10px; padding:0;}

/* HTML Tags */
a {text-decoration:none; font-weight:400; color:#2a5a9a;}
a:hover {text-decoration:underline;}
a img {border:0;}
h2 {margin:0 0 18px 0; padding:0 0 7px; color:#2a5a9a; font-size:1.6em; font-weight:400; border-bottom:1px solid #aaa;}
h2 a {font-weight:400;}
h3 {font-size:1.6em; font-weight:400; margin:0 0 10px 0; padding:2px 0; color:#2a5a9a; font-size:1.2em; font-weight:400; border-bottom:1px solid #aaa;}
p {margin:0 0 18px 0;}
ul {margin:0 0 18px 20px; padding:0;}
li {margin:0; padding:0 0 0 5px;}

/* Top menu */
#topmenu {text-align:right;margin:-3px 0 5px 0;}
#topmenu p {font-size:1.3em; line-height:1.9em; color:#aaa; margin-bottom:5px;}
#topmenu a {padding:6px 8px 5px 8px; font-weight:400; margin:0 0 0 2px; color:#aaa;}
#topmenu a:hover {color:#fff; text-decoration:none;}
#topmenu a.active {color:#fff; border:1px solid #aaa;}
#topmenu a.active:hover {color:#fff; padding:6px 8px 5px 8px;}

/* Sidebar */
#sidebar {width:200px; float:left; margin:0; padding:0; color:#444;}
#sidebar h2 {font-size:1.3em; padding-bottom:3px; border-bottom:1px solid #aaa; margin-bottom:5px;}
#sidebar ul {list-style:none; margin:0 0 15px 0;}
#sidebar li {padding:0; margin:0;}
#sidebar ul.sidemenu {width:200px; padding:0; margin:0 0 20px 0;}
#sidebar ul.sidemenu li a {color:#333; display:block; padding:5px 0; margin:0; font-size:1.3em;}
#sidebar ul.sidemenu li a:hover {color:#2a5a9a; text-decoration:none;}
#sidebar ul.sidemenu li a.active {color:#2a5a9a;}
#sidebar ul.sidemenu ul {width:180px; padding:0; margin:0 0 0 20px;}
#sidebar ul.sidemenu ul li a {padding:2px 0; margin:0; font-size:1em;}

/* Content area */
#content {text-align:left; padding:5px 0; margin:0 0 15px 220px; width:750px;}
#content img {margin:5px 0;}
#feature {margin:0 0 20px 0;}
.post {margin:0 0 20px 0; padding:15px 15px 0 15px; background-color:#fff;}
.postintro {width:70px; padding:4px; background-color:#eee; text-align:center; color:#444; font-size:1.1em; float:right; border:1px solid #aaa; margin:0 15px 10px 15px;}
.postmeta {text-align:right; color:#666; padding:10px 0; border-top: 1px solid #aaa; font-size:0.9em;}

/* Footer */
#footer{font-size:0.9em; clear:both; width:980px; line-height:1.4em; color:#777; font-weight:400; margin-bottom:10px;}
#footer a {color:#777; font-weight:400; text-decoration:none; border-bottom: 1px dotted #888;}

/* Various classes */
.centered {text-align:center;}
.hide {display:none;}
.clear {clear:both; visibility:hidden;}